.login-box-container .--secondary-btn {
  color: var(--SECONDARY-ACCENT-CLR-LIGHT);
}

.login-box-container .input:focus {
  border-color: var(--SECONDARY-ACCENT-CLR-DARK);
}

.input-password-container {
  position: relative;
}

.input-password-container > .--icon-only-btn {
  opacity: 0.6;
  position: absolute;
  top: var(--INPUT-PADDING-Y);
  right: var(--INPUT-PADDING-X);
}
