/* COLORS */

:root {
  --ACCENT-CLR: #101010;
  --BLACK-OVERLAY-CLR: #00000078;
  --BODY-BACKDROP-CLR: #000000e0;
  --BTN-BORDER-CLR: #fff;
  --HOVER-OVERLAY-CLR: #0a0a0a5c;
  --ICON-BTN-BACKGROUND-CLR: #000000bd;
  --INPUT-BORDER-CLR: var(--ACCENT-CLR);
  --PRIMARY-BACKGROUND-CLR: #080806;
  --PRIMARY-FONT-CLR: rgb(255, 255, 255);
  --SECONDARY-ACCENT-CLR-DARK: #591497;
  --SECONDARY-ACCENT-CLR-LIGHT: #9e61d5;
  --SECONDARY-BTN-BORDER-CLR: #fff;
  --SECONDARY-BTN-HOVER-CLR: #827a6200;
}

/* BORDERS */

:root {
  --BORDER-RADIUS: 5px;
  --BTN-BORDER-WIDTH: 1px;
  --BTN-BORDER-RADIUS: var(--BORDER-RADIUS);
  --INPUT-BORDER-RADIUS: var(--BORDER-RADIUS);
  --INPUT-BORDER-WIDTH: 2px;
}

/* SPACING */

:root {
  --BTN-PADDING-Y: 0.6em;
  --BTN-PADDING-X: 1.3em;
  --CARD-BTN-PADDING-Y: 0.5em;
  --CARD-BTN-PADDING-X: 0.9em;
  --CATEGORY-NAVBAR-PADDING-TOP: 1.5em;
  --ICON-BTN-PADDING: 0.6em;
  --INPUT-PADDING-Y: 0.6em;
  --INPUT-PADDING-X: 1.3em;
  --NAVBAR-PADDING-Y: 0.7em;
  --NAVBAR-PADDING-X: 1.3em;
  --SLIDER-HOVER-THUMB-BORDER-SPREAD: 10px;
  --SUGGESTION-CARD-Y-PADDING: 1.5em;
  --SUGGESTION-CARD-X-PADDING: 2.5em;
}

/* OTHERS */

:root {
  --TRANSITION-DURATION: 150ms;
  --LOADER-WIDTH: 4em;
  --LOADER-BORDER-WIDTH: 5px;
}
