.profile-page-main {
  margin: auto;
  width: min(100%, 50rem);
}

.profile-section {
  align-items: center;
  gap: 10px;
}

.profile-section > .input {
  background: var(--PRIMARY-BACKGROUND-CLR);
}

.avatar-container {
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  width: 10rem;
}

.avatar-container > img {
  display: block;
}

.profile-container {
  background: var(--ACCENT-CLR);
  border-radius: var(--BORDER-RADIUS);
  gap: 2rem;
}

.profile-section-heading {
  font-size: 1.2rem;
  font-weight: 500;
}
